
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* border: 4px solid red; */
    
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 10px; 
   /* border: 1px solid rebeccapurple; 
    width: fit-content; */
  padding: 20px;
    
}

.header, #searchBox {
  text-align: center;
  margin-top: 10px;
  color: rebeccapurple;
}

.inputareaAndsubmitBtn {
  position: relative;
  display: inline-block;
  width: 260px;
  margin: 10px auto 0;
}

input {
    height: 36px;
    width: 100%;
    border: 1px solid rebeccapurple;
    border-radius: 8px;
    padding: 5px 90px 5px 10px;
}

.inputareaAndsubmitBtn > button {
  position: absolute;
  right: 0px;  
  top: 50%;
  transform: translateY(-50%);
  height: 34px;
  min-width: 70px;
  color: white;
  border: 1px solid rgb(51, 153, 83);
  border-radius: 5px;
  cursor: pointer;
  background: rebeccapurple;
}

#cname {
  text-align: center;
}


.gridTop {
  /* display: grid; */
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "a a"
    "l r";
    /* border: 1px solid black;  */
  margin-top: 10px;
  padding: 10px;
  gap: 10px;
  background: linear-gradient(90deg, #ff6a002a, #ee09781b, #00c8ff34);
  animation: AnimationName 10s ease infinite;   /* infinte can be removed to be back at its original state */
}

@keyframes AnimationName {
  from {background: linear-gradient(90deg, #ff6a002a, #ee09781b, #00c8ff34);}
  to {background: linear-gradient(90deg, #fbff00c7, #09d3ee1b, #d9ff0065);}
}


.todaysweather  {
  grid-area: a;
  color: rebeccapurple;
  text-align: center;
}

.todaysweather > h3 {
  text-align: center;
  margin: 0;
}

.pafterh3 {
  font-size: 30px;
  margin-top: 10px;
}

.leftGrid {
  display: flex;
  gap: 5px;
  grid-area: l;
  align-items: center;
}

.rightGrid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-area: r;
  align-items: flex-end;
}

.temperature, .temp_icons {
  width: fit-content; 
  /* border: 1px solid green; */  
  /* background-color: yellow; */
}

#showIcon {
  border: none;
 /* width: 60px;
  height: 70px;
  background-color: aqua;
 border: 1px solid yellow; */
}

.time_day, .status {
  flex-direction: column;
 /* text-align: right; */
 /* border: 1px solid yellow; */
  width: fit-content;     /* text-align only moves to right when width !== fit-content */
  justify-self: end;      /* justify-self instead */
} 

.pressAnddowngridDiv {
  background: linear-gradient(90deg, #ff6a002a, #ee09781b, #00c8ff34);
}

.pressBtn {
  border: 1px solid linear-gradient(90deg, #ff6a002a, #ee09781b, #00c8ff34);
  border-radius: 20px;
  color: rebeccapurple;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  padding: 10px;
  width: fit-content;
  display: flex;
  justify-self: center;
  align-self: center;
  cursor: pointer;
  background: linear-gradient(90deg, #ff6a002a, #ee09781b, #00c8ff34);
  
}

.downGrid {
  display: none;    /* display only when weeks weather is pressed */
  grid-template-columns: repeat(7, 1fr);
  grid-template-areas: "area0 area1 area2 area3 area4 area5 area6 area7";
  gap: 10px;
  border: 2px solid linear-gradient(90deg, #9d836f2a, #7239551b, #24a3c634);;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(90deg, #ff6a002a, #ee09781b, #00c8ff34);
  animation: DownAnimationName 15s ease infinite;   /* infinte can be removed to be back at its original state */
}

@keyframes DownAnimationName {
  from {background: linear-gradient(90deg, #ff6a0010, #ee097853, #00c8ff7b);}
  to {background: linear-gradient(90deg, #fbff002b, #dbee093d, #d9ff00d8);}
}


.areaColumn {
    display: grid;
    grid-template-rows: repeat(4, 1fr);  /* min-content makes it fit, 1 fr makes it bigger */
    gap: 5px;
    border: 1px solid linear-gradient(90deg, #ff6a002a, #ee09781b, #00c8ff34);
    padding: 0;
}

.areaRow {
    border: 1px solid linear-gradient(90deg, #ff6a0010, #ee097853, #00c8ff7b);
    padding: 0 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    justify-self: center;
}

.area0 .areaRow:first-child {
    white-space: nowrap;
}

.area0 { grid-area: area0; }
.area1 { grid-area: area1; }
.area2 { grid-area: area2; }
.area3 { grid-area: area3; }
.area4 { grid-area: area4; }
.area5 { grid-area: area5; }
.area6 { grid-area: area6; }
.area7 { grid-area: area7; }




@media screen and (max-width: 950px) {
  .downGrid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "area0 area1 area2 area3"
                          "area4 area5 area6 area7";

  }
  
}


@media screen and (max-width: 600px) {
    .downGrid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "area0 area1 area2"
                          "area3 area4 area5"
                          ". area6 .";

    
    /* overflow-x: scroll; */
  }
  
}


