
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* border: 4px solid red; */
    
}

.container {
    margin-top: 10px; 
   /* border: 1px solid rebeccapurple; 
    width: fit-content; */
    
}

.gridContainer  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
      "a a"
      "l r";
    border: 1px solid black;
    margin-top: 10px;
    padding: 10px;
    gap: 10px;
}

.todaysweather  {
  grid-area: a;
  color: rebeccapurple;
  text-align: center;
}

.todaysweather > h3 {
  text-align: center;
  margin: 0;
}

.leftGrid {
  display: flex;
  gap: 5px;
  grid-area: l;
  align-items: center;
}

.rightGrid {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-area: r;
  align-items: flex-end;
}

.temperature, .temp_icons {
  border: 1px solid green;
  width: fit-content;
}

.time_day, .status {
  flex-direction: column;
 /* text-align: right; */
  border: 1px solid yellow;
  width: fit-content;     /* text-align only moves to right when width !== fit-content */
  justify-self: end;      /* justify-self instead */
} 

#searchBox {
  margin-top: 10px;
  height: 30px;
  width: fit-content;
  border: 1px solid red;
}

#cname {
  text-align: center;
}